@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}

.btn, .form-control{
    border-radius: 50px;
}

a{
    color:#17A2B8;
}

/*Navigation area (overwrite style.css)*/
.nav-link{
    color: white!important;
    margin-left: 15px;
    margin-right: 15px;
   
}
.navbar{
  background-color: #17A2B8;
  padding:5px 50px 5px 50px;
  box-shadow: 0 6px 6px -6px grey;
}

.nav-link:hover{
    opacity: 0.8;
}

/*Sign up*/

#addCentre{
    display: none;
}

.signup-container{
    margin-top: 50px;
    margin-bottom: 50px;  
    box-shadow: 11px 13px 22px -6px rgba(0,0,0,0.57);  
    background-color: whitesmoke;
}


.alert{
    width: 100%;
}

#account-success{
    display: none;
}

#duplicate-username{
    display: none;
}

#signup-pic{
    background-image: url(../images/nursebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top center;
  
}

#signup-pic-patient{
    background-image: url(../images/maskwearer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top center;
  
}

.signup-form-admin, .signup-form-patient{
    padding: 20px 30px;
}

.signup-form-column{
    background-color:whitesmoke;
}

/* #ic-passport{
    display: none;
} */

#admin-signup, #patient-signup{
    width: 100%;
}

.submit-btn{
    width: 100%;
}

#admin-signup:hover{
    opacity: 0.8;
}

/*Login*/
.login-pic{
    background-image: url(../images/computerperson.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
   
}

.login-btn{
    width: 100%;
}

.login-container{
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 11px 13px 22px -6px rgba(0,0,0,0.57);  
    background-color: whitesmoke;
}

.login-form{
    padding: 20px 30px;
}

#invalid-login{
    display: none;
}

/*View available vaccines*/
.available-vaccine-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../images/vaccines.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    height: 40vh;
  
}

#choice-title{
    font-weight: bold;
}


.search-vaccine-section{
    height: 50vh;
}

#search-alert{
    display: none;
}

/*for all banners*/
.banner-title{
    color: white;
}

/*Select healthcare centre*/
.healthcare-centre-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../images/building.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    height: 40vh;
}

.fa-chevron-right{
    color: rgb(190, 190, 190);
}


/*Select vaccine batch*/
.vaccine-batch-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../images/batch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    height: 40vh;
}

.batch-card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.batch-card:hover{
    cursor: pointer;
    filter: brightness(98%);
}

.fa-syringe{
    font-size: 40px;
    background-color: #d1e6e9;
    color: white;
    border-radius: 50%;
    padding:20px;
}

#next-batch{
    margin-top: 30px;
}

.sign-in-alert{
    display: none;
}

.batchNo, .batchNo:hover{
    color: black;
} 
/*selectDate*/
.batch-info{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px 30px;
    box-shadow: 11px 13px 22px -6px rgba(0,0,0,0.57);
  
}

.batch-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../images/schedule.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    height: 40vh;
  
}

#date-alert{
    display: none;
}


/*after booking*/
.fa-check-circle{
    background-color:#d1e6e9 ;
    color: white;
    font-size: 80px;
}

.success-header{
    background-color:#d1e6e9;
    box-shadow: 0 6px 6px -6px grey;
}

.success-title{
    font-weight:bold;
}

.card{
    box-shadow: 11px 13px 22px -6px rgba(0,0,0,0.57);
}

.booking-info ul{
    text-align: center;
    padding-left: 0;
}


/*admin confirm appointment*/
.fa-user{
    font-size: 100px;
    padding: 60px;
    border-radius: 50%;
    background-color: #d1e6e9;
    color: white;
}


.reject-btn{
    background-color: rgb(209, 88, 88);
    color:white;
}

.confirm-btn, .reject-btn{
    width: 60%;
    
}

textarea{
    border-radius: 0% !important;
}

.close-btn{
    background-color: #d1e6e9;
}
.close-btn:hover{
    filter: brightness(98%);
}

.appointment-info{
    box-shadow: 11px 13px 22px -6px rgba(0,0,0,0.57);
    
}



/*Footer*/
/* footer{
    background-color:white;
}

.footer-header{

    color: #17A2B8;

}

.fas{
    color: #17A2B8;

}

.contact-item, .quick-links-items{

    color: #17A2B8;
}

.quick-links-items a{
    color: #17A2B8;
}



.social-links a {

    background-color: #17A2B8;
    color:white;
}



#copyright{
    color: #17A2B8;

}
.subscribe{
    background-color: #17A2B8;
    color:white;
} */
@media only screen and (max-width: 990px) { 
/*Login*/
.login-pic{
   display: none;
    }
}

@media only screen and (max-width: 768px) { 

.btn{
 font-size: 15px;
}   

p{
    font-size: 15px;
}

input{
    font-size: 15px !important;
}

/*banner size*/
.banner-title{
    font-size: 25px;
}

.available-vaccine-banner, .healthcare-centre-banner, .batch-banner, .vaccine-batch-banner{
    height: 30vh;
}

/*sign up*/
#signup-pic{
    display: none; 
}
.sign-up-title,.login-title{
    font-size: 30px;
}


/*available vaccine*/
#choice-title{
    font-size: 20px;
    font-weight: bold;
}

.smiling-doc{
    margin-left: -40px;
}

.search-vaccine-section{
    height: 30vh;
}

.available-vac-container{
    padding:0 5%;
}

/*Select centre*/
.hospital-name{
    font-size: 18px;
}

/*select batch*/
.batch-card{
    margin: 10px 0;
}

.batch-container{
    width: 85%;;
}

#next-batch{
    margin-top: 10px;
}

/*select date*/
.batch-info ul{
    text-align: center;
    padding-left: 0;

}

.batch-info{
    width: 85%;
}

/*confirm appointment*/
.fa-user{
    margin:30px 0;
}

.appointment-info ul{
    text-align: center;
    padding-left: 0;
}
.reject-btn, .confirm-btn{
    margin: 10px 0;
}

.appointment-info{
    width: 85%;
}

#vax-id{
    font-size: 30px;
}

/*after booking*/
.success-title{
    font-size: 30px;
}

}

@media only screen and (max-width: 576px) {

/*Sign Up*/
.signup-container{
    padding: 5%;
    width: 85%;
}

/*Login*/
.login-container{
    padding: 5%;
    width: 85%;
}

}

@media only screen and (max-width: 480px) {
    .login-form{
        padding:10px;
    }
   
    .signup-form-column{
        padding:0;
        margin-top: -3%;
    }

    .signup-container{
        padding:0;
    }

    .form-check-inline{
        font-size: 14px;

    }

    #remember-me-label, #forgot-label{
        font-size: 13.5px;
    }
    #forgot-label{
        margin-top: 2px;
    }

    /*Available vaccine*/
    .smiling-doc{
        margin-left: -80px;
    }
    /*after booking*/
    .booking-info{
        width: 90%;
    }
    
}
