@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}

.btn, .form-control{
    border-radius: 50px;
}

/*Navigation area (overwrite style.css)*/
.nav-link{
    color: white!important;
    margin-left: 15px;
    margin-right: 15px;
   
}
.navbar{
  background-color: #17A2B8;
  padding:5px 50px 5px 50px;
  box-shadow: 0 6px 6px -6px grey;
}

.nav-link:hover{
    opacity: 0.8;
}

/*Sign up*/

#addCentre{
    display: none;
}

.signup-container{
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 11px 13px 22px -6px rgba(0,0,0,0.57);  
}

#signup-pic{
    background-image: url(../images/nursebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
  
}

.signup-form{
    padding: 20px 30px;
}

.signup-form-column{
    background-color:whitesmoke;
}

#ic-passport{
    display: none;
}

#admin-signup, #patient-signup, .submit-btn{
    width: 100%;
}

#admin-signup:hover{
    opacity: 0.8;
}

/*Login*/
.login-pic{
    background-image: url(../images/teddy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top right;
    height: 80vh;
}



.login-btn{
    background-color: white;
    width: 100%;
}

.login-container{
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 11px 13px 22px -6px rgba(0,0,0,0.57);  
    background-color: whitesmoke;
    /* background: linear-gradient(315deg, hsla(187, 35%, 87%, 1) 0%, hsla(188, 78%, 41%, 1) 100%, hsla(188, 71%, 48%, 1) 100%); */


}

.login-form{
    padding: 20px 30px;
}

/*View available vaccines*/
.available-vaccine-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../images/vaccines.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    height: 40vh;
  
}

.search-vaccine-section{
    height: 50vh;
}


/*for all banners*/
.banner-title{
    color: white;
}

/*Select healthcare centre*/
.healthcare-centre-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../images/building.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    height: 40vh;
}

.fa-chevron-right{
    color:black;
}

/*Select vaccine batch*/
.vaccine-batch-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../images/batch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    height: 40vh;
}

.batch-card:hover{
    cursor: pointer;
    filter: brightness(98%);
}

.fa-syringe{
    font-size: 40px;
    background-color: #d1e6e9;
    color: white;
    border-radius: 50%;
    padding:20px;
}


/*selectDate*/
.batch-info{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px 30px;
    box-shadow: 11px 13px 22px -6px rgba(0,0,0,0.57);
  
}

.batch-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../images/schedule.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    height: 40vh;
  
}

/*admin confirm appointment*/
.fa-user{
    font-size: 100px;
    padding: 60px;
    border-radius: 50%;
    background-color: #d1e6e9;
    color: white;
}


.reject-btn{
    background-color: rgb(209, 88, 88);
    color:white;
}

.confirm-btn, .reject-btn{
    width: 60%;
    
}

textarea{
    border-radius: 0% !important;
}

.close-btn{
    background-color: #d1e6e9;
}
.close-btn:hover{
    filter: brightness(98%);
}

.appointment-info{
    box-shadow: 11px 13px 22px -6px rgba(0,0,0,0.57);
    
}



/*Footer*/
/* footer{
    background-color:white;
}

.footer-header{

    color: #17A2B8;

}

.fas{
    color: #17A2B8;

}

.contact-item, .quick-links-items{

    color: #17A2B8;
}

.quick-links-items a{
    color: #17A2B8;
}



.social-links a {

    background-color: #17A2B8;
    color:white;
}



#copyright{
    color: #17A2B8;

}
.subscribe{
    background-color: #17A2B8;
    color:white;
} */

@media only screen and (max-width: 768px) { 
    /*Login*/
.login-pic{
    height: 35vh;
}

#signup-pic{
    display: none; 
}

}

@media only screen and (max-width: 576px) {

/*Sign Up*/
.signup-container{
    padding: 10%;
    margin-top: -3%;
}

  
/*Login*/
.login-pic{
    height: 35vh;
}


}
