@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #17A2B8;
}

.btn, .form-control{
    border-radius: 50px;
}

/*Navigation area (overwrite style.css)*/
/* .nav-link{
    color: white!important;
    margin-left: 15px;
    margin-right: 15px;
   
}
.navbar{
  background-color: #17A2B8;
  padding:5px 50px 5px 50px;
  box-shadow: 0 6px 6px -6px grey;
}

.nav-link:hover{
    opacity: 0.8;
} */

/*Sign up*/
.signup-container{
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 11px 13px 22px -6px rgba(0,0,0,0.57);  
}

#signup-pic{
    background-image: url(../images/nursebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
}

.signup-form{
    padding: 20px 30px;
}

.signup-form-column{
    background-color:white;
}

#ic-passport{
    display: none;
}

#admin-signup, #patient-signup, .submit-btn{
    width: 100%;
}

#admin-signup:hover{
    opacity: 0.8;
}

/*selectDate*/
.batch-info{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px 30px;
    box-shadow: 11px 13px 22px -6px rgba(0,0,0,0.57);
  
}
.fa-syringe{
    font-size: 100px;
    background-color: #17A2B8;
    color: white;
    border-radius: 50%;
    padding:50px;
}

.batch-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../images/schedule.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    height: 40vh;
  
}

.batch-banner-title{
    color: #17A2B8;
}

/*Footer*/
footer{
    background-color:white;
}

.footer-header{

    color: #17A2B8;

}

.fas{
    color: #17A2B8;

}

.contact-item, .quick-links-items{

    color: #17A2B8;
}

.quick-links-items a{
    color: #17A2B8;
}



.social-links a {

    background-color: #17A2B8;
    color:white;
}



#copyright{
    color: #17A2B8;

}
.subscribe{
    background-color: #17A2B8;
    color:white;
}

@media only screen and (max-width: 576px) {
.signup-container{
    padding: 10%;
    margin-top: -3%;
}
  
}
