@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}

.btn, .form-control{
    border-radius: 50px;
}

a:hover{
    text-decoration: none;
}
/*Navigation area*/
.nav-link{
    color: #17A2B8 !important;
    margin-left: 15px;
    margin-right: 15px;
   
}
.navbar{
  background-color: white;
  padding:5px 50px 5px 50px;
  box-shadow: 0 6px 6px -6px grey;
}

.nav-link:hover{
    opacity: 0.6;
}


/*Banner area*/
#main-banner{
    background-image: url(../images/vacbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    height: 85vh;
 
}

.banner-title{
    padding-bottom: 10px;
    font-weight: bold;
   
}

.banner-content{
    height: 85vh;
    padding-right: 20px;
}


/*Below banner area*/
#provider{
    height: 60vh;
    padding: 120px 0 0 45px;

}

/*Below banner area*/
.provider-btn{
  padding-left:20px;
  padding-right:20px;

}

.steps-card{
    height: 38vh; 
}
.card{
    border-radius: 20px;
    border:none;
    margin-bottom: 20px;
    box-shadow: 11px 13px 22px -6px rgba(0,0,0,0.57);
}

.how-to{
    font-weight: bold;
}

.steps-container{
    background-color:#e6f3f5;
}

.fa-clipboard-list, .fa-syringe, .fa-hospital, .fa-calendar-plus{
    font-size: 48px;
    color:#17A2B8 !important;
    padding: 20px 10px;
}

/*Footer*/
footer{
    background-color:#17A2B8;
    padding:20px 0 10px 0;
}

.footer-header{
    font-size: 16px;
    color: white;
    padding: 10px 0 10px 0;
    text-transform: uppercase;
}

.fas{
    color: white;
    margin-right: 12px;
}

.contact-item, .quick-links-items{
    padding: 2px 0 2px 0;
    color: white;
}

.quick-links-items a{
    color: white;
}

.quick-links-items a:hover{
    opacity: 0.8;
}
.social-links {
    display: flex;
    margin-left: -10px;
  }


.social-links a {
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 50%;
    background-color: white;
    color:#0ca3c4;
}

.social-links a .fab {
    font-size: 20px;
    line-height: 40px;
 
}

.social-links a:hover {
    opacity: 0.7;
}
  
li{
      list-style-type: none;
}

#copyright{
    color: white;
    text-align: center;
    padding-top: 25px;
}
.subscribe{
    background-color: #c7e3e7;
    color:grey;
}

@media only screen and (max-width: 768px) { 
    /*Banner area*/
    #main-banner{
      height: 60vh;
    }

    
    .banner-content{
        height: 60vh;
    }

    .banner-title{
        font-size: 33px;
    }

    /*provider*/
    #provider{
        text-align: center;
        padding: 80px 0 0 0;
        height: 40vh;
    }
    #doctor-pic{
        height: 100%;
        width: 80%;
        margin-left: 8%;
        padding-top: 10px;
      
    }
    /*steps*/

    .steps-inner-container{
        width: 70%;
    }
}

@media only screen and (max-width: 576px) {

    /*Banner area*/
    #main-banner{
     
        background-size:contain;
        height: 55vh;
        margin-top: -12%; 
    }

    .banner-content{
        height: 55vh;
    }

    .banner-title{
        font-size: 20px;
        font-weight: bold;
    }

    .available-vax-btn{
        font-size: 12px;
    }

    /*below banner*/

    #provider{
        padding: 10px 30px;
        height: 20vh;
    
    }

    #doctor-pic{
        height: 100%;
        width: 80%;
        margin-left: 5%;
        padding-top: 10px;
      
    }

    .provider-btn, footer, .subscribe, .subscribe-email{
        font-size: 12px;
    }

    
    .card{
        margin-bottom: 20px;
    }

    .card-text{
        font-size: 15px;
    }

    .steps-inner-container{
        width: 70%;
    }

    .steps-container{
        padding: 10px 0 10px 0 !important;
    }

   

    .card-title{
        font-size: 18px;
    }

    .steps-card{
        height: 30vh; 
    }

    .fa-clipboard-list, .fa-syringe, .fa-hospital, .fa-calendar-plus{
        font-size: 30px;

    }
    
    footer{
        font-size: 12px;
    }

    .footer-header{
        font-size: 14px;
    }

  }

  @media only screen and (max-width: 480px){
    /*Banner area*/
    #main-banner{
        margin-top: -23%; 
    }

    .available-vax-btn{
        padding:2px;
    }
    .banner-title{
        font-size: 17.5px;
    }

    #provider{
        padding: 10px 30px;
        height: 28vh;

    }
    .card-title{
        font-size: 16px;
    }

    
    .steps-card{
        height: 33vh; 
    }

  }
  