@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}

a:hover{
    text-decoration: none;
}
/*Navigation area*/
.nav-link{
    color: white !important;
    margin-left: 15px;
    margin-right: 15px;
   
}
.navbar{
  background-color: #17A2B8;
  padding:5px 50px 5px 50px;
  box-shadow: 0 6px 6px -6px grey;
}

.nav-link:hover{
    opacity:0.6 ;
}

.btn, .form-control{
    border-radius: 50px;
}

/*Administrator Dashboard*/
/*Alert Area*/
.alert{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

#admin-alert{
    width: 80%;
}

/*Function Area*/
#admin-functions{
    width: 80%;
    margin-top: 50px;
    margin-bottom: 10px;
}

.card-text {
    color:#17A2B8;
}

.card{
    margin-bottom:20px;
    box-shadow: 11px 13px 22px -6px rgba(0,0,0,0.57);
}

#covid-stats{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px 0px;
}

 #jumbotron-color{
    background-color:#17A2B8; 
    color:white;
 }

 /*Record New Vaccine Batch*/
.batch-form {
    box-shadow: 11px 13px 22px -6px rgba(0,0,0,0.57);  
    padding:50px;
}

#button-row{
    display: flex; 
    align-items: center; 
    justify-content:center;
    padding:10px;
}

.button-pcvs{
    margin: 20px;
    width: 250px;
}

/*View Vaccine Batch Info*/
h2 {
    text-align: center; 
    margin-top: 30px;
}

th, td {
    text-align: center;
}

.table-section{
    width: 80%; 
    padding: 30px;
}

.info-section{
    width:75%; 
    margin: 0 auto;
    padding: 20px;
}

.combo-section{
    padding:30px; 
    width:80%;
}

/*Record Vaccination Administered*/
h3{
    text-align: center;
    margin-top: 30px;
}




