@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}

a:hover{
    text-decoration: none;
}

/*Navigation area*/
.nav-link{
    color: white !important;
    margin-left: 15px;
    margin-right: 15px;
   
}

.navbar{
    background-color: #17A2B8;
    padding:5px 50px 5px 50px;
    box-shadow: 0 6px 6px -6px grey;
}

.fa-bars{
    font-size: 28px;
    font-weight: lighter;
}
    
.fa-bars:hover{
    opacity: 0.8;
}
        
.navbar-toggler{
    padding:5px 15px 5px 15px;
}

.nav-link:hover{
    opacity:0.6 ;
}

/*Administrator Dashboard*/
/*Alert Area*/
.alert{
    text-align: center;
    font-weight: bolder;
}

#admin-alert{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
}

/* Format Icons */
i {
    color: white;
}

/*Function Area*/
#admin-functions{
    width: 80%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.card-text {
    color:#17A2B8;
}

#overview-text{
    color:white;
}

.overview-card{
    border: none;
    margin-bottom: 20px;
    box-shadow: 11px 13px 22px -6px rgba(0,0,0,0.57);
    border-radius: 20px;
}

.function-card:hover{
    opacity: 0.9;
}



#covid-stats{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px 0px;
}

 #jumbotron-color{
    background-color:#17A2B8; 
    color:white;
 }

 /*Record New Vaccine Batch*/
.batch-form {
    box-shadow: 11px 13px 22px -6px rgba(0,0,0,0.57);  
    padding:50px;
}

#button-row{
    display: flex; 
    align-items: center; 
    justify-content:center;
    padding:10px;
}

.button-pcvs{
    margin: 20px;
    width: 250px;
}

.btn, .form-control{
    border-radius: 50px;
}

/*View Vaccine Batch Info*/
h2 {
    text-align: center; 
    margin-top: 30px;
}

th, td {
    text-align: center;
}

.table-section{
    width: 80%; 
    padding: 30px;
}

.info-section{
    width:75%; 
    margin: 0 auto;
    padding: 20px;
}

.combo-section{
    padding:30px; 
    width:80%;
}

/*Record Vaccination Administered*/
h3{
    text-align: center;
    margin-top: 30px;
}

.fa-user{
    font-size: 100px;
    padding: 60px;
    border-radius: 50%;
    background-color: #d1e6e9;
    color: white;
}

li{
    list-style-type: none;
}

.reject-btn{
    background-color: rgb(209, 88, 88);
    color:white;
}

.confirm-btn, .reject-btn{
    width: 60%;
    
}

textarea{
    border-radius: 0% !important;
}

.close-btn{
    background-color: #d1e6e9;
}
.close-btn:hover{
    filter: brightness(98%);
}

.appointment-info{
    box-shadow: 11px 13px 22px -6px rgba(0,0,0,0.57);
    
}



@media (max-width: 576px) { 
    .card{
        height:100px;
    }
}

