@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}

a:hover{
    text-decoration: none;
}
/*Navigation area*/
.nav-link{
    color: white !important;
    margin-left: 15px;
    margin-right: 15px;
   
}
.navbar{
  background-color: #17A2B8;
  padding:5px 50px 5px 50px;
  box-shadow: 0 6px 6px -6px grey;
}

.nav-link:hover{
    opacity:0.6 ;
}

/*Alert Area*/
.alert{
    margin-top: 50px;
    text-align: center;
}

/*Function Area*/
#dashfunc1{
    width: 60%;
    float: right;
}

#dashfunc2{
    width: 60%;

}

.card-text {
    color:#17A2B8;
}

#covid-stats{
    background-color: white;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.jumbotron{
    margin: 10px 0px;
 }

 #jumbotron-color{
    background-color:#17A2B8; 
    color:white;
 }

 .batchForm{
    margin:50px;
    padding:50px;
}
